images/2023/mi-universidad/gaceta/pdf/Abril2023.pdf
images/2023/mi-universidad/gaceta/pdf/Agosto2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Diciembre2023WebOk.pdf
images/2023/mi-universidad/gaceta/pdf/Enero2023WEB.pdf
images/2023/mi-universidad/gaceta/pdf/ExtOctubre2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Febrero2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/JulioWeb2023.pdf
images/2023/mi-universidad/gaceta/pdf/Junio2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Marzo2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Mayo2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Noviembre2023WebOk.pdf
images/2023/mi-universidad/gaceta/pdf/Octubre2023Web.pdf
images/2023/mi-universidad/gaceta/pdf/Septiembre2023Web.pdf
images/2024/mi-universidad/gaceta/Abril2024WebOK.pdf
images/2024/mi-universidad/gaceta/Agosto2024WebOk.pdf
images/2024/mi-universidad/gaceta/Diciembre2024WebOk.pdf
images/2024/mi-universidad/gaceta/Enero2024WebOk.pdf
images/2024/mi-universidad/gaceta/Febrero2024WebOk.pdf
images/2024/mi-universidad/gaceta/FebreroExtraordinaria2024.pdf
images/2024/mi-universidad/gaceta/Julio2024WebOk.pdf
images/2024/mi-universidad/gaceta/Junio2024WebOk.pdf
images/2024/mi-universidad/gaceta/Marzo2024WebOK.pdf
images/2024/mi-universidad/gaceta/Mayo2024OkWeb.pdf
images/2024/mi-universidad/gaceta/Noviembre2024WebOk.pdf
images/2024/mi-universidad/gaceta/Octubre2024WebOk.pdf
images/2024/mi-universidad/gaceta/Septiembre2024WebOk.pdf


images/2021/mi-universidad/oic/pdf/Informe-Anual.pdf
images/2021/mi-universidad/oic/pdf/Primer-Cuatrimestre.pdf
images/2021/mi-universidad/oic/pdf/Segundo-Cuatrimestre.pdf
images/2021/mi-universidad/oic/pdf/Tercer-Cuatrimestre.pdf

images/2023/mi-universidad/oic/pdf/informe-anual-oic_2023.pdf 
images/2023/mi-universidad/oic/pdf/Primer_Informe_Cuatrimestral_2023.pdf 
images/2023/mi-universidad/oic/pdf/Segundo_Informe_Cuatrimestral_2023.pdf 
images/2023/mi-universidad/oic/pdf/Tercer_Informe_Cuatrimestral_2023.pdf

images/2022/mi-universidad/oic/pdf/Primer_Informe_Cuatrimestral_2022.pdf 
images/2022/mi-universidad/oic/pdf/Segundo_Informe_Cuatrimestral_2022.pdf 
images/2022/mi-universidad/oic/pdf/Tercer_Informe_Cuatrimestral_2022.pdf 
images/2022/mi-universidad/oic/pdf/Informe_Anual_OIC_2022.pdf

images/2024/mi-universidad/oic/pdf/informe-anual-de-actividades_2024.pdf 
images/2024/mi-universidad/oic/pdf/Primer Informe Cuatrimestral_2024.pdf 
images/2024/mi-universidad/oic/pdf/Resumen de Informe del OIC 2020-2024.pdf 
images/2024/mi-universidad/oic/pdf/Segundo Cuatrimestre_2024.pdf

images/2024/mi-universidad/oic/Legislación y Jurisprudencia/Disposiciones Generales de Actos de Fiscalizacion _OIC_UAEMx oficio.pdf 
images/2024/mi-universidad/oic/Legislación y Jurisprudencia/Manual de Procedimientos Direc. Auditoria_OIC_UAEMx oficio.pdf 
images/2024/mi-universidad/oic/Legislación y Jurisprudencia/Prececedente Sentencia 32442.pdf 
images/2024/mi-universidad/oic/Legislación y Jurisprudencia/Tesis 2028840.pdf
