body.ltr.offcanvs-position-right.offcanvas-active .offcanvas-menu {
    right: 0;
    top: 0;
}

body.ltr.offcanvs-position-right .offcanvas-menu {
    right: -300px;
    top: 0;
}

.offcanvas-menu {
    background-color: #ffffff;
    color: #13af47;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    overflow: inherit;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 10000;
    right: -300px;
    /* Ocultar inicialmente */
}

.offcanvas-active .offcanvas-menu {
    right: 0;
    /* Mostrar cuando se active */
}

*,
::after,
::before {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

a {
    color: #0345bf;
    transition: color 400ms, background-color 400ms;
    text-decoration: underline;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.logo-image {
    height: 100px;
}

@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

.d-none {
    display: none !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* img[Attributes Style] {
    height: 100px;
} */

body.ltr .close-offcanvas {
    right: 15px;
}

.close-offcanvas {
    position: absolute;
    top: 25px;
    z-index: 1;
}

.burger-icon {
    width: 25px;
    cursor: pointer;
}

.burger-icon>span {
    display: block;
    height: 2px;
    background-color: #000000;
    margin: 5px 0;
    transition: background-color 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;
}

.offcanvas-menu .offcanvas-inner {
    padding: 25px;
}

.offcanvas-menu .offcanvas-inner .header-modules {
    margin-left: 0px;
}

.header-modules {
    margin-left: 20px;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.offcanvas-active .close-offcanvas .burger-icon>span {
    transition-delay: 0.2s;
}

.offcanvas-active .burger-icon>span:nth-child(1),
#modal-menu-toggler.active .burger-icon>span:nth-child(1) {
    transform: translate(0, 8px) rotate(-45deg);
}

.offcanvas-active .burger-icon>span,
#modal-menu-toggler.active .burger-icon>span {
    background-color: #000000;
}

.offcanvas-menu .offcanvas-inner .sp-module {
    padding: 0;
    margin: 0;
}

.offcanvas-menu .offcanvas-inner ul.menu,
.offcanvas-menu .offcanvas-inner ul.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

.offcanvas-menu .offcanvas-inner ul.menu>li {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: block;
}

.offcanvas-menu .offcanvas-inner ul.menu>li a,
.offcanvas-menu .offcanvas-inner ul.menu>li span {
    color: #000000;
    display: block;
    font-size: 18px;
    padding: 10px 0px;
    position: relative;
    line-height: 18px;
    opacity: 0.7;
    transition: 0.3s;
}

body.ltr .offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>a>.menu-toggler,
body.ltr .offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>.menu-separator>.menu-toggler {
    right: -10px;
}

.offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>a>.menu-toggler,
.offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>.menu-separator>.menu-toggler {
    color: rgba(37, 37, 37, 0.5);
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 10px;
}

.offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>a>.menu-toggler:after,
.offcanvas-menu .offcanvas-inner ul.menu>li.menu-parent>.menu-separator>.menu-toggler:after {
    font-family: "Font Awesome 6 Free";
    content: "ï„…";
    font-weight: 900;
}

body.ltr .offcanvas-menu .offcanvas-inner ul.menu>li ul {
    margin-left: 10px;
}

.offcanvas-menu .offcanvas-inner ul.menu>li ul.menu-child {
    display: none;
}

.offcanvas-menu .offcanvas-inner ul.menu>li>ul {
    display: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}


/* Estilos del index.html */

.recuadro-info {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 160px !important;
    padding-bottom: 40px !important;
    gap: 20px !important;
}

.recuadro-info img {
    width: 315px !important;
    height: auto !important;
    object-fit: contain !important;
    margin: 0 !important;
}

.wdgt-tl {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #fff !important;
    border-bottom: solid 1px #fff !important;
    flex: 0 0 auto;
    width: 25%;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.cuadro {
    width: 20%;
    padding: 2rem;
}

#ciencia-a-tu-alcance-covid-19 {
    padding-top: 75px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    text-align: center;
}

#recursos-en-linea {
    padding-top: 75px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    text-align: center;
    background-color: #f2f2f2;
}

.recursos-iconos {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.recursos-iconos img {
    width: 180px;
    height: auto;
    object-fit: contain;
}

.recursos-iconos img {
    opacity: 50%;
    transition: opacity 0.3s ease;
}

.recursos-iconos img:hover {
    opacity: 100%;
}

.paises {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.paises img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.paises p {
    padding-top: 15px;
}

@media (max-width: 1200px) {
    .wdgt-tl {
        width: 30%;
    }

    .cuadro {
        width: 30%;
    }

    .recursos-iconos {
        gap: 50px;
    }

    .paises {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .wdgt-tl {
        width: 40%;
    }

    .cuadro {
        width: 40%;
    }

    .recursos-iconos {
        flex-direction: column;
        gap: 30px;
    }

    .paises {
        flex-direction: column;
        gap: 30px;
    }

    .recursos-iconos img {
        width: 150px;
    }

    .paises img {
        width: 60px;
    }

    .recuadro-info {
        flex-direction: column !important;
        padding-top: 100px !important;
    }
}

@media (max-width: 480px) {
    .wdgt-tl {
        width: 100%;
        font-size: 16px;
    }

    .cuadro {
        width: 100%;
    }

    .recursos-iconos img {
        width: 120px;
    }

    .paises img {
        width: 50px;
    }

    .recursos-iconos {
        gap: 20px;
    }

    .paises {
        gap: 20px;
    }

    .recuadro-info {
        padding-top: 60px !important;
    }
}