.rector_img {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.rector_img img:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;

}

.container-t {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    align-items: flex-start;
}

.tabs-container {
    flex-shrink: 0;
}

.tabs {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: #838783;
    color: white;
    font-size: 16px;
    width: 390px;
}

.tab {
    padding: 10px;
    border-bottom: 10px solid #ffffff;
}

.tab:last-child {
    border-bottom: none;
}

.content-container {
    flex: 1;
    padding: 15px;
    border-top: 2px solid #9c8412;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #e5e5e5;
    padding: 40px;
    font-size: 16px;
}

.content-container a {
    color: #0345bf !important;
}

.content-container a:hover {
    color: #9c8412 !important;
}

.tab-content {
    display: none;
}

.active {
    display: block;
}

.active-tab {
    background-color: #2c5234;
}

.tab-content ul {
    list-style-type: disc;
}

@media (max-width: 920px) {
    .tabs {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background: #838783;
        color: white;
        font-size: 16px;
        width: 250px;
    }
}

@media (max-width: 650px) {
    .tabs {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background: #838783;
        color: white;
        font-size: 16px;
        width: auto;
    }
}

/* Organo interno de control */
#tabs-main{
    padding-left: 17%;
    padding-right: 17%;
}

.tabs-org {
  display: flex;
  border-bottom: #958419 solid 2px !important;
  padding-top: 30px;
  padding-bottom: 10px;
  gap: 20px;
}

.tabs-main h3 {
    font-size: 16px !important;
  }

.tabs-org button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(214, 214, 214);
    color: rgb(4, 76, 208);
    border-radius: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    background-color: #ffffff;
    font-size: 14px;
}
.tabs-org button.active {
  background: rgb(214, 214, 214);
}

.tabs-org button:hover {
    background: rgb(214, 214, 214);
  }
.tab-content-org {
  display: none;
  padding: 20px;
  border-top: none;
}
.tab-content-org.active {
  display: block;
}

.tab-content-org ul {
    list-style-type: disc;
}

.tab-content-org a {
    color: #0345bf !important;
}

.sppb-table-style td, .sppb-table-style th {
    min-width: 1em;
    border: 2px solid #ced4da !important;
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.section-title {
    border-bottom: 5px solid #958419;
    display: inline-block;
    font-size: 24pt;
    font-weight: bold;
    color: #2c5234;
}
.directions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #e0e0e0;
    height: 260px;
}
.direction-item {
    width: 220px;
    padding: 10px;
    text-align: center;
    align-content: center;
}
.direction-item svg:hover {
    transform: scale(1.1);
    color: #958419;
}

.direction-item svg {
    font-size: 40px;
    color: #2c5234;
}

.direction-item i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}
.direction-item a {
    text-decoration: none;
    color: #0345bf;
    font-weight: bold;
}

.tit{
    text-align: center;
    background-color: #e0e0e0;
}

.oic {
    justify-items: center;
    padding-top: 20px;
}

.directions-container-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    height: 260px;
}
.direction-item-2 {
    width: 400px;
    padding: 10px;
    text-align: center;
    align-content: center;
}
.direction-item-2 i:hover {
    transform: scale(1.1);
    color: #958419;
}


/* .oic img:hover{
    transform: ;
} */

@media (max-width: 920px) {

}